.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  // background: #fed600;
  background: rgb(182 0 254 / 20%);

  @media (min-width: 40rem) {
    flex-direction: row;
  }
}

.info {
  display: flex;
  font-size: 1rem;
  padding: 10em 0 0 1em;

  h3 {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 800;
  }

  @media (min-width: 40rem) {
    padding: 5em 0.4em 0 0.4em;
    font-size: 1.1rem;
    min-width: 50vw;
    padding: 0 6em;
    align-items: center;

    h3 {
      font-size: 1.8rem;
    }
  }
}

.inner {
  position: relative;
  border: 3px solid #222;
  width: 85vw;
  height: 100vw;

  .content {
    position: absolute;
    width: 85vw;
    height: 100vw;
    background: rgb(255 255 255);
    padding: 1.5em;
    border: 3px solid #222;
    left: 20px;
    top: -20px;
  }

  @media (min-width: 40rem) {
    width: 26vw;
    height: 25vw;

    .content {
      width: 26vw;
      height: 25vw;
    }
  }

  .previewWrapper {
    position: relative;
    object-fit: cover;
    height: 526px;
    width: 730px;

    img {
      border: 3px solid #000;
      background: #fff;
      padding: 1em;
      position: absolute;
      right: -350px;
      top: 100px;
      width: 90%;
      height: 90%;
      object-fit: contain;
      object-position: center center;
    }
  }
}

.list {
  min-width: 50vw;
  padding-top: 100px;

  @media (min-width: 40rem) {
    max-height: 100vh;
    overflow-y: scroll;
  }
}
